/* desktop */
@media (min-aspect-ratio:1) {
    #header {
        height: 7.5vh;
        padding: 1%;
        position: fixed;
        top: 0;
        left: 0;
        width: 98%;
        z-index: 1;
    }

    #headerspace {
        height: 7.5vh;
        padding: 1%;
        position: relative;
    }

    #nav {
        flex-direction: row;
    }
}

/* mobile */
@media (max-aspect-ratio: 1) {
    #header {
        position: relative;
        height: 3.75vh;
        padding: 1%;
    }
}

#navgap {
    flex-grow: 1;
}

#logo {
    display: inline-block;
    height: inherit;
}

#header {
    color: white;
}

.menuBtn {
    margin: 0 1.5vw;
}