/* desktop */
@media (min-aspect-ratio:1) {
    table#posts {
        width: 45vw;
    }

    td.category {
        width: 15vh;
    }

    td.date {
        width: 17.5vh;
    }

    td.title {
        padding-left: 1vw;
    }
}


/* mobile */
@media (max-aspect-ratio: 1) {
    table#posts {
        width: 100vw;
    }

    td.category {
        width: 20vh;
    }

    td.date {
        width: 20vh;
    }
}

#searchInput {
    border: 0.25vw solid #1f45fc;
    border-radius: 10vw 10vw 0 10vw;
    text-align: left;
    font-size: 6vh;
    vertical-align: middle;
    padding: 1vh 2.5vw 1vh calc(6vh + 2vw);
    background-image: url('/assets/search.svg');
    background-repeat: no-repeat;
    background-size: 6vh;
    background-position: 1vw center;
}

#searchInput:focus,
#categorySelect:focus,
#orderSelect:focus {
    outline: none;
}

#categorySelect,
#orderSelect {
    font-size: 2.5vh;
    padding: 1vh 3vw 1vh 1vw;
}

#result {
    display: none;
}

#ended {
    display: none;
}

table#posts {
    border-collapse: collapse;
}

td.title {
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

tr.post {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}