doctype html
html
    head
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/header.css')
        link(rel='icon', href='/assets/profile.png')
        meta(name='theme-color', content='#00FFFF')
        meta(property='og:type', content='website')
        meta(property='og:image', content='/assets/profile.png')
        meta(property='og:description', content="yswysw")
        block head
    body
        include header.pug
        .content.vertical.middle
            block content