#header.middle.translucentBg
    a(href="/" style='height: inherit;')
        .middle(style='height: inherit;')
            img#logo(src='/assets/profile.png')
            .menuBtn
                h2 yswysw
    div#navgap
    div#nav.desktop.middle
        a(href="/about.html")
            .menuBtn
                h2 About
        //- a(href="/search.html")
        //-     .menuBtn
        //-         h2 Search
        a(href="/posts.html")
            .menuBtn
                h2 Posts
